@import '../../main';

.header_lg {
	position: relative;
	width: 3.8rem;
	height: 3.8rem;
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 1.4rem;

	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	cursor: pointer;

	span {
		pointer-events: none;
	}

	@include bp($point_3 - 1) {
		width: 3.4rem;
		height: 3.4rem;
	}
}

.header_lg__list {
	position: absolute;
	top: 0;
	right: calc(-100% - 1.9rem);
	padding-left: 2rem;

	pointer-events: none;

	.header_lg:hover & {
		opacity: 1;
		pointer-events: auto;

	}
}

.header_lg__link {
	font-size: 1.6rem;
	font-weight: 700;
	color: $grayDark;
	transition: color 0.3s ease;

	&:focus,
	&:hover {
		color: $white;
	}
}
