@import '../../main';

.cursor {
	z-index: 10;
	position: absolute;
	bottom: 30%;
	left: 30%;

	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
	background-color: $black;
	pointer-events: none;

	@include bp($point_1 - 1) {
		display: none;
	}
}

.cursor_svg {
	width: 11.8rem;
	height: 11.8rem;
	margin-left: -5.5rem;
	margin-top: -5.5rem;
	color: $white;
	opacity: 0;
	transition: opacity 0.3s ease;

	.cursor.hover_state & {
		opacity: 1;
		animation: rotateText 10s linear infinite;
	}
}

@keyframes rotateText {
	0% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}
