@import '../../main';

.header_nav_link {
	position: relative;
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1.4;
	text-align: center;
	color: $grayDark;
	transition: color 0.3s ease;
	pointer-events: auto;

	&:after {
		position: absolute;
		bottom: -2px;
		right: 0;

		display: block;
		width: 0;
		height: 2px;
		background-color: $white;
		transition: all 0.3s ease;

		content: '';
	}

	&:focus,
	&:hover {
		color: $white;

		&:after {
			left: 0;
			right: auto;
			width: 100%;
		}
	}
}
