@import '../../main';

.section_decor {
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;

	background-color: $yellow;
	border-radius: 50%;
	filter: blur(47px);
	-webkit-backdrop-filter: blur(47px);
	backdrop-filter: blur(47px);

	@include bp($point_0, min) {
		width: 57.8rem;
		height: 57.8rem;
	}

	@include bp($point_0 - 1, $point_2) {
		width: 70rem;
		height: 70rem;
	}

	@include bp($point_2 - 1, $point_3) {
		width: 48.2rem;
		height: 48.2rem;
	}

	@include bp($point_3 - 1) {
		width: 29.4rem;
		height: 29.4rem;
	}
}
